li a {
    color: green;
}
body {
  background-color: #fffafa;
}

.header a {
  display: inline-block;
  padding: 15px;
  color: #ffffff;
  font-size: 24pt;
  font-family: "Gill Sans", sans-serif;

}

.header {
  text-align: center;
  background-color: #0f52ba;
  margin-left: 300pt;
  width: 750pt;
  align-items: center;
}

h1{
  color: #0f52ba;
  margin-left: 300pt;
  margin-top: 100pt;
  font-size: 36pt;
  font-family: serif;
}

.search input{
  margin-left: 300pt;
  margin-top: 30pt;
  width: 650pt;
  height: 40pt;
  font-size: 20pt;
  background-color: #f2f2f2
}

.search button{
  margin-left: 0;
  padding: 0;
  width: 90pt;
  height: 45pt;
  margin-top: 20pt;
  font-size: 20pt;
  background: #0f52ba;
  color: #ffffff;
}

.table table{
  margin-top: 20pt;
  margin-left: 300pt;
  width: 750pt;
}

th, td {
  color: #ffffff;
  font-family: "Gill Sans", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}
th {
  background-color: #0f52ba;
  font-size: 20pt;
  font-weight: normal;
  height: 30pt;
}

td {
  background-color: #57A0d3;
  font-size: 18pt;
  padding-right: 20pt;
  padding-left: 10pt;
  height: 20pt;
}
